@model IEnumerable<CarRentalService.Models.Vehicle>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td style="display: flex; align-items: center; justify-content: center; font-size: 1.25rem; font-variant: small-caps; height: 100%;">@item.Distance miles away</td>
            <td>
                <img style="width:100%; max-width: 200px;" src="@Url.Content(item.Image)" />
            </td>
            <td style="display: flex; align-items: center; justify-content: center; height: 100%; font-variant: small-caps; font-size: 1.5rem; font-weight: 600; font-family: Verdana, Geneva, Tahoma, sans-serif;">
                @item.Year @item.Make @item.Model
            </td>
            <td>
                
            </td>
            <td>
                @if (this.User.IsInRole("Employee"))
                {
                    <a asp-action="StartService" asp-route-id="@item.Id">Service Vehicle</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
