@model IEnumerable<CarRentalService.Models.Vehicle>

@{
    ViewData["Title"] = "Index";
}

<div class="row" style="padding-bottom: 2rem;">
    <h1 class="col-6">Currently Available Vehicles:</h1>
    <div class="col-6">
        @using (Html.BeginForm())
        {
            <div>
                @Html.TextBox("SearchString")
                <input type="submit" class="btn btn-primary" value="Search" />
            </div>
        }
    </div>
</div>
<div>
    <div class="row" style="font-size: 1.5rem;">
        <div class="col-2" style="font-variant: small-caps; font-weight: 600;">Filter By:</div>
        @if (ViewBag.DistanceSortParam == "distance_ascending")
        {
            <div class="col-2">@Html.ActionLink("Distance", "SelectVehicle", new { sortOrder = "distance_descending" })</div>
        }
        else
        {
            <div class="col-2">@Html.ActionLink("Distance", "SelectVehicle", new { sortOrder = "distance_ascending" })</div>
        }
        @if (ViewBag.YearSortParam == "year_ascending")
        {
            <div class="col-2">@Html.ActionLink("Year", "SelectVehicle", new { sortOrder = "year_descending" })</div>
        }
        else
        {
            <div class="col-2">@Html.ActionLink("Year", "SelectVehicle", new { sortOrder = "year_ascending" })</div>

        }
        @if (ViewBag.MakeSortParam == "make_ascending")
        {
            <div class="col-2">@Html.ActionLink("Make", "SelectVehicle", new { sortOrder = "make_descending" })</div>
        }
        else
        {
            <div class="col-2">@Html.ActionLink("Make", "SelectVehicle", new { sortOrder = "make_ascending" })</div>

        }
        @if (ViewBag.ModelSortParam == "model_ascending")
        {
            <div class="col-2">@Html.ActionLink("Model", "SelectVehicle", new { sortOrder = "model_descending" })</div>
        }
        else
        {
            <div class="col-2">@Html.ActionLink("Model", "SelectVehicle", new { sortOrder = "model_ascending" })</div>

        }
        <div class="col-2"></div>
    </div>
    @foreach (var item in Model)
    {
        <div class="row" style="display: flex; align-items: center; padding: 2rem 0; border-bottom: 1px solid black">
            <div class="col-2"><img style="width:100%; max-width: 200px;" src="@Url.Content(item.Image)" /></div>
            <div class="col-2" style="font-size: 1.5rem;">@item.Distance miles away</div>
            <div class="col-2" style="font-size: 2rem; font-weight: 600; font-variant: small-caps">@item.Year</div>
            <div class="col-2" style="font-size: 2rem; font-weight: 600; font-variant: small-caps">@item.Make</div>
            <div class="col-2" style="font-size: 2rem; font-weight: 600; font-variant: small-caps">@item.Model</div>
            <div class="col-2"><a asp-action="VehicleDetails" class="btn btn-primary" asp-route-id="@item.Id">Book Now</a></div>
        </div>
    }
</div>